footer {
    background-color: #3e4451;
    padding: 10px;
    color: #d1d5db;
}

footer nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: #66bb6a;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

footer nav ul li:not(.separator):hover {
    background-color: #555;
    color: #dfdfe2;
    cursor: pointer;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.footer-info p {
    margin: 0 10px;
}

/* Validator Container Styles */
.validator-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.validator-container a {
    margin: 0 5px; /* Add spacing between validator links */
}
