body {
    background-color: #282c34;
    color: #d1d5db;
    font-family: sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: #66bb6a;
    text-decoration: none; /* Removed underline */
}

a:hover {
    /* Removed underline */
}

h1, h2, h3 {
    color: #98c379;
}

.button, button {
    background-color: #66bb6a;
    color: #282c34;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover, button:hover {
    background-color: #81c784;
}

nav {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #282828;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover {
    background-color: #555; /* Darker hover background */
    color: #dfdfe2; /* Keep the text light */
    cursor: pointer;
}

li > a {
    color: inherit;
    text-decoration: none;
}

.container {
    background-color: #373e4a;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
}

main {
    background-color: #373e4a;
    color: #d1d5db;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px 20px;
    line-height: 1.6;
}

main h1, main h2, main h3 {
    color: #98c379;
}

main a {
    color: #66bb6a;
    text-decoration: none; /* Removed underline */
}

main a:hover {
    /* Removed underline */
}
